<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dev>
            <debug>
                <show_path_in_adminhtml>1</show_path_in_adminhtml>
                <show_attribute_code_in_adminhtml>1</show_attribute_code_in_adminhtml>
            </debug>
        </dev>
    </default>
</config>
